<!DOCTYPE html>
<html lang="en" ng-app="knarflog">
<head>
  <title>flog: Rankings</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="rankingsController">
  <table>
    <thead>
      <tr><th colspan="7">World Golf Rankings for {{headers.date}} (Week {{headers.Week}})</th></tr>
      <tr><th>#</th>
          <th>Player Name</a></th>	
          <th>Points(Avg)</a></th>	
          <th>Points(Total)</a></th>
          <th>World Rank</a></th>
          <th>Points({{year}} )</a></th>
          <th>Picked-By</th>
          </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players | filter:{Picker: '!!'}| orderBy:orderProp">
        <td>{{$index + 1}}.</td>
        <td>{{player.Name}}</td>
        <td>{{player.Avg |number:2}}</td>
        <td>{{player.Total |number:2}}</td>
        <td>{{player.Rank}}</td>
        <td>{{player.Points |number:2}}</td>
        <td>{{player.Picker}}</td>
      </tr>
   </tbody>
  </table>
  <P></P>
    <table>
    <thead>
      <tr><th>Rank</th>
          <th>Picker</th>	
          <th>Count</a></th>	
          <th>Total</th>
          <th>Points</th>
         </tr>
    </thead>
   <tbody>
       <tr ng-repeat="picker in pickers | filter:{Name: '!!'} | orderBy:'-Points'">
        <td>{{$index + 1}}</td>
        <td>{{picker.Name}}</td>
        <td>{{picker.Count}}</td>
        <td>{{picker.Total|number:2}}</td>
        <td>{{picker.Points|number:2}}</td>
      </tr>   
    </tbody>
  </table>
</body>
</html>
